<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khandana.tabbed">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VideoOnline.Satu"
            android:parentActivityName=".Video" />
        <activity
            android:name=".VideoOnline.Dua"
            android:parentActivityName=".Video" />
        <activity
            android:name=".VideoOnline.Tiga"
            android:parentActivityName=".Video" />
        <activity
            android:name=".VideoOnline.Empat"
            android:parentActivityName=".Video" />
        <activity
            android:name=".VideoOnline.Lima"
            android:parentActivityName=".Video" />
        <activity
            android:name=".VideoOnline.Enam"
            android:parentActivityName=".Video" />
        <activity
            android:name=".VideoOnline.Tujuh"
            android:parentActivityName=".Video" />
        <activity
            android:name=".VideoOnline.Delapan"
            android:parentActivityName=".Video" />
        <activity
            android:name=".Full"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Video"
            android:label="Video"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About"
            android:label="Profil"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Nadhom"
            android:label="Nadhom Aqidatul Awam"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivityExpandListView"
            android:label="Arti Dan Penjelasan"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="عَـقِـيْدَةَ الْعَوَام"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>